<link rel="stylesheet" type="text/css" href="/static/stylesheets/all.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/cover.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/album.css">