<br />
<br />
<br />
<br />
<br />
<div class="album text-muted">
  <div class="">

    <div class="row">
      {{#each posts}}
      <a href="http://www.instagram.com/{{caption.from.username}}">
      <div class="card">
        <img width="200" src="{{images.standard_resolution.url}}" data-src="holder.js/100%x280/thumb" alt="Card image cap">
        <p class="card-text">{{caption.text}}</p>
      </div>
	</a>
      {{/each}}
    </div>

  </div>
</div>
