
<div class="inner cover">
	
	{{#if user.username}}
	<h1 class="cover-heading">Você está logado como @{{ user.username }}</h1>
	<h2><a href="/feed">Ver feed</a></h2>
	{{!-- <input type="text" id="q" class="form-control col-md-5"> --}}
	<p class="lead">
     <button id="search" class="btn ">Falar!</button>
   </p>
	{{else}}
	<a class="cover-heading" href="/oauth">Fazer login com Instragram</a>
	{{/if}}
 
   <p class="lead"></p>
</div>


 <script>
	$(document).ready(function() {

		$('#search').click(function() {
			var recognition = new webkitSpeechRecognition();

			recognition.onresult = function(event) { 
			  console.log(event);
			  var phrase = event.results[0][0].transcript;
			  $('#q').val(phrase);
			  window.location = window.location.href + 'search?q=' + phrase;
			}
			recognition.start();
		});

	});
</script>