<br />
<br />
<br />
<br />
<br />
<div class="album text-muted">
  <div class="">

    <div class="row">
      {{#each users}}
      <a href="http://www.instagram.com/{{username}}">
      <div class="card">
        <img width="200" src="{{profile_picture}}" data-src="holder.js/100%x280/thumb" alt="Card image cap">
        <p class="card-text" style="color: black">@{{username}}</p>
      </div>
      </a>
      {{/each}}
    </div>

  </div>
</div>
