<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>IntaSearch</title>
	{{>script}}
	{{>style}}
</head>
<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="{{!-- cover-container --}}">

          <div class="masthead clearfix">
            <div class="inner">
		    <h3 class="masthead-brand"><a href="/">InstaSearch</a></h3>
             {{!--  <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav> --}}
            </div>
          </div>


		{{{body}}}
          

          <div class="mastfoot">
            <div class="inner">
             {{!--  <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> --}}
            </div>
          </div>

        </div>

      </div>

    </div>
</body>
</html>


